<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="menu">
	 
	<select id="SQL_listaMenuXCargo" resultType="MenuBean" parameterType="String">
	    select menu.* from tb_menu menu,tb_acceso_menu acceso
		where menu.cod_menu = acceso.cod_menu and acceso.cod_cargo=#{codigo}  order by menu.orden_menu				
	</select>
	 
	        
</mapper>